.education {
  background-color: rgb(33, 33, 33);
  padding: 2rem;
}

.education-body {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 75rem;
  margin: 0 auto;
  flex-wrap: wrap;
}

.education-description {
  width: 60%;
  margin-right: 2rem;
}

.education-title {
  color: yellow;
  text-align: left;
  margin-bottom: 2rem;
}

.education-card {
  display: flex;
  align-items: center;
  background-color: yellow;
  margin-bottom: 1.5rem;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: rgba(243, 243, 3, 0.3) 0px 0px 30px;
  transition: all 0.2s ease-in-out;
}

.education-card:hover {
  box-shadow: 0 0 20px 0 rgba(95, 98, 24, 0.3);
  transform: scale(1.06);
}

.educard-img {
  background-color: yellow;
  padding: 0.5rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.educard-img img {
  height: 50px;
  width: 50px;
}

.education-details {
  display: flex;
  flex-direction: column;
}

.education-year {
  color: black;
  margin-bottom: 0.5rem;
}

.education-degree {
  color: black;
  margin-bottom: 0.5rem;
}

.education-institution {
  color: black;
}

.education-image {
  width: 35%;
  text-align: center;
}

.education-image img {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 840px) {
  .education-body {
    flex-direction: column;
    align-items: center;
  }

  .education-description {
    width: 100%;
    margin-right: 0;
    margin-bottom: 2rem;
  }

  .education-image {
    width: 100%;
  }
}
